.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a75cccc;
    background: -webkit-linear-gradient(right, #0AA5CC, #2840BB);
    background: -moz-linear-gradient(right, #0a6eccc5, #2840BB);
    background: linear-gradient(to left, #078fb1, #2840BB);
  }
  
  .box {
    margin: 1% 30%;
    padding: 2% 8%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
  }
  